/venv/
**/__pycache__/
/.vscode/
run.py
zhihu.py
/.idea/
/baiduspider/web/node_modules
/web/dist
.DS_Store
download.py
/docs-old/
/build/
/dist/
/BaiduSpider.egg-info/
htmlcov/
/site/
.coverage
.coveragerc
exp.*
test.*
t.html
gen.json