# Project information
site_name: BaiduSpider
site_url: https://samzhangjy.github.io/BaiduSpider/
site_author: Sam Zhang
site_description: >-
  BaiduSpider能够精准地爬取百度搜索结果，但更强大，更轻量，更易用。它目前已经支持了8种搜索结果，
  4个平台，分别是百度网页搜索，百度图片搜索，百度知道搜索，百度视频搜索，百度资讯搜索，百度文库搜索，
  百度经验搜索，百度百科搜索，和原生Python，Web UI，Web API，CLI。

# Repository
repo_name: samzhangjy/BaiduSpider
repo_url: https://github.com/samzhangjy/BaiduSpider
edit_uri: ""

# Copyright
copyright: Copyright &copy; 2020 Sam Zhang

# Configuration
theme:
  name: null
  custom_dir: material

  # 404 page
  static_templates:
    - 404.html

  # Don't include MkDocs' JavaScript
  include_search_page: false
  search_index_only: true

  # Default values, taken from mkdocs_theme.yml
  language: zh
  features:
    - tabs
    #- instant
  palette:
    scheme: preference
    primary: blue
    accent: light-blue
  font:
    text: Roboto
    code: Roboto Mono
  favicon: assets/favicon.png
  icon: 
  logo: assets/logo.png

# Plugins
plugins:
  - search
  - minify:
      minify_html: true

# Extensions
markdown_extensions:
  - markdown.extensions.admonition
  - markdown.extensions.attr_list
  - markdown.extensions.def_list
  - markdown.extensions.footnotes
  - markdown.extensions.meta
  - markdown.extensions.toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.magiclink:
      repo_url_shorthand: true
      user: squidfunk
      repo: mkdocs-material
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.snippets:
      check_paths: true
  - pymdownx.superfences
  - pymdownx.tabbed
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde

# Page tree
nav:
  - 首页: index.md
  - 起步:
    - 快速上手: usage/get-started.md
  - 原生 Python:
    - 介绍: native/index.md
    - 网页搜索: native/search-web.md
    - 图片搜索: native/search-pic.md
    - 视频搜索: native/search-video.md
    - 资讯搜索: native/search-news.md
    - 文库搜索: native/search-wenku.md
    - 经验搜索: native/search-jingyan.md
    - 知道搜索: native/search-zhidao.md
    - 百科搜索: native/search-baike.md
  - Web UI:
    - 介绍: web/index.md

# Google Analytics
google_analytics:
  - UA-172934693-1
  - auto
